# For training and inference
datasets
transformers # The [torch] extra is not needed as torch will be pre-installed
numpy
scikit-learn

# For the web application
fastapi
uvicorn[standard]
python-multipart
jinja2